/* Global Styles */

body {
	margin:0;
	}
	
td {
	font:11px Arial, Helvetica, sans-serif;
	color:#333333;
	}
	
a {
	color: #003366;
	}
	
a:hover {
	color: #ffffff;
	}

/* ID Styles */

#navigation td {
	border-bottom: 10px solid #4A5464;
	}
	
#navigation a {
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	color: #30414F;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	display:block;
	padding:8px 6px 10px 26px;
	background:  url("mm_bullet_blue.gif") 14px 45% no-repeat;
	}
	
#navigation a:hover {
	background: #30414F url("mm_bullet_blue.gif") 14px 45% no-repeat;
	color:#66CCFF;
	}
	
#logo 	{
	font:24px Georgia, Times New Roman, Times, serif;
	color: #ffffff;
	letter-spacing:.2em;
	line-height:30px;
	}

#tagline 	{	
	font:12px Verdana, Arial, Helvetica, sans-serif;
	color: #66CCFF;
	letter-spacing:.4em;
	line-height:18px;
	}
	
#monthformat {
	border-bottom:1px dashed #30414F;
	}
#dateformat {
	font:11px Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff;
	letter-spacing:.3em;
	vertical-align: middle;
	}
	
#dateformat a {
	font:11px Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-weight:bold;
	letter-spacing:.1em;
	}
	
#dateformat a:hover {
	color: #30414F;
	letter-spacing:.1em;
	}
	
#colheader {
	padding: 10px 4px;
	border-bottom: 3px solid #DEDDD9;
	}
/* Class Styles */
	
.bodyText {
	font:11px Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	line-height:20px;
	margin-top:0;
	}
	
.pageName{
	font:bold 14px Verdana, Arial, Helvetica, sans-serif;
	color: #30414F;
	line-height:18px;
	letter-spacing:.2em;
	}
	
.subHeader {
	font:bold 12px Verdana, Arial, Helvetica, sans-serif;
	color: #30414F;
	line-height:16px;
	letter-spacing:.2em;
	}
    
.subHeader2 {
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	color: #30414F;
	line-height:15px;
	letter-spacing:.1em;
    text-decoration: none;
	}    

.quote {
	font: 20px Verdana, Arial, Helvetica, sans-serif;
	color: #759DA1;
	line-height:30px;
	}
	
.smallText {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	}
	
.navText {
	font:11px Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	}
	
